.welcome {
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient( rgba(18, 13, 83, 0.5), black), url("Images/MoonfallCG1.png");
    background-size: 100%;
}

.welcome h1 {
    padding: 0 20px;
    letter-spacing: 50px;
    font-size: 70px;
    font-weight: 100;
    background-image: radial-gradient(rgba(255,255,255,0.5) ,transparent, transparent);
}

.welcome button {
    padding: 15px 30px;
    border-radius: 60px;
    border: none;
    font-weight: bolder;
    width: 300px;
    font-size: 20px;
    margin: 10px 30px;
    transition: ease 200ms;
}

.welcome button:hover {
    transform: scale(1.1);
    transition: ease 200ms;
    box-shadow: 0 0 10px white;
}

.welcome li {
    list-style: none;
    background-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    transition: ease 200ms;
}

.welcome li a {
    color: black;
    text-decoration: none;
}

.welcome li:hover {
    box-shadow: 0 0 10px white;
    transform: scale(1.1);
    transition: ease 200ms;
}

.games {
    width: 100%;
    display: inline-flex;
    height: 100vh;
}

.gamemenu {
    width: 25%;
    padding: 20px;
    border: 3px solid black;
    display: block;
    background-size: 500%;
    background-position: 55%;
}

.gamemenu h1 {
    text-transform: uppercase;
}

.gamemenu .buttoncontainer {
    margin: 30px 0;
}

.gamemenu button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 30px;
    transition: 200ms;
}

.gamemenu button:hover {
    text-shadow: 0 0 20px white;
    transform: scale(1.1);
    transition: ease 200ms;
}
