.welcome {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient( rgba(18, 13, 83, 0.5), black), url("Images/MoonfallCG1.png");
    background-size: 100%;
}

.welcome h1 {
    padding: 0 20px;
    letter-spacing: 50px;
    font-size: 70px;
    font-weight: 100;
    background-image: radial-gradient(rgba(255,255,255,0.5) ,transparent, transparent);
}

.welcome button {
    padding: 15px 30px;
    border-radius: 60px;
    border: none;
    font-weight: bolder;
    width: 300px;
    font-size: 20px;
    margin: 10px 30px;
    transition: ease 300ms;
}

.welcome button:hover {
    transform: scale(1.1);
    transition: ease 300ms;
    box-shadow: 0 0 10px white;
}

.welcome li {
    list-style: none;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.welcome li a {
    color: black;
    text-decoration: none;
}