#loader {
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    position: absolute;
    left: calc(50vw - 100px);
    top: calc(50vh - 100px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 20px;
}

#loader img {
    animation: loaderanims 2s infinite;
    filter: drop-shadow(0 0 10px white);
}

@keyframes loaderanims {
    0% {transform: translateY(20px);}
    50% {transform: translateY(-20px);}
    100% {transform:  translateY(20px);}
}